Xft.dpi: 186
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: argb:41303133, #40eb78, #40eb78
rofi.color-normal: #303133, #ffffff, #303133, argb:c8303133, #40eb78
rofi.color-active: #4a4a4a, #40eb78, #303133, #303133, #ffbb00
rofi.color-urgent: #303133, #dc322f, #303133, #303133, #f9ff00

rofi.separator-style:                solid
rofi.opacity:                        90
rofi.width:                          50
rofi.font:                           Inconsolata 32
rofi.padding:                        0
rofi.yoffset:                        0
rofi.xoffset:                        0
rofi.case-sensitive:                 false
rofi.cycle:                          true
rofi.fullscreen:                     true
rofi.fake-transparency:              false
rofi.dpi:                            -1
