! ------------------------------------------------------------------------------
! General settings
! ------------------------------------------------------------------------------

Xft.dpi: 192
!Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled:                  true
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
rofi.color-window:                   #ffffff,#f5f5f5
rofi.separator-style:                solid
rofi.font:                           Inconsolata 22

! ------------------------------------------------------------------------------
! urxvt
! ------------------------------------------------------------------------------

! special
*.foreground:   #515253
*.background:   #feffff
*.cursorColor:  #515253

*.color0:       #0c0d0e
*.color8:       #737475

! red
*.color1:       #e31a1c
*.color9:       #e31a1c
z
! green
*.color2:       #31a354
*.color10:      #31a354

! yellow
*.color3:       #dca060
*.color11:      #dca060

! blue
*.color4:       #3182bd
*.color12:      #3182bd

! magenta
*.color5:       #756bb1
*.color13:      #756bb1

! cyan
*.color6:       #80b1d3
*.color14:      #80b1d3

! white
*.color7:       #b7b8b9
*.color15:      #fcfdfe


!URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.perl-ext-common:  default,tabbedex
URxvt.internalBorder:      0
URxvt.externalBorder:      0
URxvt.font: xft:Consolas:size=10
URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1

urxvt*depth: 32
!URxvt*background: [85]#111111
!urxvt*background: rgba:1000/1000/1000/F200


urxvt*boldMode:      on
urxvt*colorMode:     on
urxvt*colorBDMode:   on
urxvt*colorULMode:   on
urxvt*underLine:     on
