! ------------------------------------------------------------------------------
! General settings
! ------------------------------------------------------------------------------

! Merging ~/.Xresources

#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif


Xft.dpi: 192
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgba
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle:  hintfull


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled:                  true
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
rofi.color-window:                   #ffffff,#f5f5f5
rofi.separator-style:                solid
rofi.font:                           Inconsolata 28

! ------------------------------------------------------------------------------
! urxvt
! ------------------------------------------------------------------------------

! special
*.foreground:   #e6e1dc
*.background:   #292d3e
*.cursorColor:  #e6e1dc

! black
*.color0:       #2b2b2b
*.color8:       #9eb1e2

! red
*.color1:       #f07178
*.color9:       #f07178

! green
*.color2:       #c3e88d
*.color10:      #c3e88d

! yellow
*.color3:       #ffcb6b
*.color11:      #ffcb6b

! blue
*.color4:       #82aaff
*.color12:      #82aaff

! magenta
*.color5:       #c792ea
*.color13:      #c792ea

! cyan
*.color6:       #c3e88d
*.color14:      #c3e88d

! white
*.color7:       #d0d0d0
*.color15:      #d0d0d0


URxvt.perl-ext-common:  default,tabbedex,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 0
URxvt.internalBorder:      0
URxvt.externalBorder:      0
URxvt.font: xft:Inconsolata:size=12
URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1

urxvt*depth: 32
!URxvt*background: [85]#111111
!urxvt*background: rgba:1000/1000/1000/F200


urxvt*boldMode:      on
urxvt*colorMode:     on
urxvt*colorBDMode:   on
urxvt*colorULMode:   on
urxvt*underLine:     on
